<div class="container">
  	<div class="row">	
	  	<div class="col-md-6">
	    <div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<!-- TODO make glyphicon template that loads random glyphs -->
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>				
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
			</div>
	    </div>	  	
		</div>
		<div class="col-md-4">Ask Question</div>		
	  	<div class="span2 col-md-2">
			<button type="button" class="btn btn-default">Pay</button>	  
	  	</div>  
  	</div>  	
</div>
