<div class="container" id="paypalRedirect">
    <div class="row">
        <div class="col-md-12">
            <h3>
                You're almost done with registration (wahoo!) so hang in there while we take you to Paypal for a payment of
            </h3>
            <h3><b>${{totalCost}}</b></h3>
            <h3>
                You will be sent back to us after Paypal so we can finalize your registration.
            </h3>
            <h3>
                Please note your WoW 2015 registration is not complete until you see the <b>WoW Thank you page</b>.
            </h3>
            <h3>
               <b><a href="{{approvalUrl}}">Click to go to Paypal.</a></b>
            </h3>

        </div>
    </div>
</div>
