<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>cworksinc - software</title>

    <meta name="description" content="Software Development and Consulting" />
    <meta name="tags" content="Software Web Development Java Javascript HTML5 CSS3 NoSQL MongoDB Hadoop Oracle Weblogic" />
    <meta name="author" content="Corbett" />

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link href="../styles/css/splash.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="title" class="step" data-x="0" data-y="0" data-z="0" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="1">
        <span>Welcome to</span>
        <div id="logo-container">
            <h1 class="title">WoW 2015!</h1>
        </div>
    </div>

    <div id="design" class="step slide"
         data-x="0" data-y="1000" data-z="0"
         data-rotate-x="0" data-rotate-y="0" data-rotate-z="0">
        <strong>Design</strong>
        <p>
        <ul>
            <li>
                Project Discovery: Use Cases & Requirements
            </li>
            <li>
                Software Architecture & System Design
            </li>
            <li>
                Data Modeling: SQL & NoSQL
            </li>
            <li>
                User Interface mockups and storyboarding
            </li>
        </ul>
        </p>
    </div>

    <div id="development" class="step slide"
         data-x="0" data-y="2000" data-z="0"
         data-rotate-x="0" data-rotate-y="0" data-rotate-z="0">
        <strong>Development</strong>
        <p>
        <ul>
            <li>
                Project & Process Management: Agile Methods
            </li>
            <li>
                Custom Development and Integrations
            </li>
            <li>
                Experts in Data Analysis and BI Applications
            </li>
            <li>
                Performance and Acceptance Testing
            </li>
            <li>
                Cornucopia of Languages, Frameworks, Databases and Platforms!
            </li>
            <li>
                Java, HTML5, Javascript, CSS3, Weblogic, JBoss, MySQL, Oracle, MongoDB, Couchbase Server, Hadoop EcoSystem
            </li>
        </ul>
        </p>
    </div>

    <div id="deployment" class="step slide"
         data-x="0" data-y="3000" data-z="0"
         data-rotate-x="0" data-rotate-y="0" data-rotate-z="0">
        <strong>Consulting</strong>
        <p>
        <ul>
            <li>
                We enjoy problem solving and helping our clients reach their goals so if you have a project in your brain, on the horizon or one underway <strong>cworks.inc.</strong> is ready to help.
            <li>
            <li>
                <strong>We</strong>
            </li>
            <li>
                <strong>Appreciate</strong>
            </li>
            <li>
                <strong>You</strong>
            </li>
        </ul>
        </p>


    </div>


</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>

<script src="../assets/impress/impress.js"></script>
<script>
    impress().init();
</script>

</body>
</html>
